<div class="filter-panel">
    <div class="filter-action-block"></div>
    <div class="tasks-summary-info">
        <ul class="tasks-summary-info-list">
            <li>
                <div class="tasks-summary-info-title">Всего задач</div>
                <div class="tasks-summary-info-total">13</div>
            </li>
            <li>
                <div class="tasks-summary-info-title">Выполнено</div>
                <div class="tasks-summary-info-total">7</div>
            </li>
        </ul>
    </div>
</div>