<div class="filter-panel">
    <div class="filter-action-block">
        <div class="form-group checkbox-block">
            <label>
                <input type="checkbox" class="form-control" name=""><span></span>
            </label>
        </div>
        <div class="filter-action-button-block">
            <ul class="filter-action-button-list">
                <li>
                    <a class="filter-action-button" data-toggle="dropdown" href="#"><i class="fa fa-tag"></i> <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Разработка</a></li>
                        <li><a href="#">Ошибка</a></li>
                    </ul>
                </li>
                <li>
                    <button class="filter-action-button"><i class="fa fa-trash-o"></i></button>
                </li>
            </ul>
        </div>
        <div class="filter-sorter-block"><a href="#" class="filter-sorter-button"><i class="fa fa-sort"></i></a></div>
    </div>
    <div class="tasks-summary-info">
        <ul class="tasks-summary-info-list">
            <li>
                <div class="tasks-summary-info-title">Всего задач</div>
                <div class="tasks-summary-info-total">13</div>
            </li>
            <li>
                <div class="tasks-summary-info-title">Выполнено</div>
                <div class="tasks-summary-info-total">7</div>
            </li>
        </ul>
    </div>
</div>