<!--форма редагування данних користувача-->
<div id="edit-profile-form">
    <div class="ui-common-form">
        <div class="ui-common-form-header">
            <div class="form-header-title">Редактировать профиль</div>
            <div class="edit-profile-logo"><img src="/img/icon/user.jpg" alt=""></div>
        </div>
        <div class="ui-common-form-body edit-profile-body">
            <form action="" class="common-form">
                <div class="form-group">
                    <label class="control-label">ФИО</label>
                    <input type="text" class="form-control" placeholder="ФИО" value="Стасенко Андрій">
                    <div class="input-underline"><span class="input-ripple"></span></div>
                </div>
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input type="text" class="form-control" placeholder="E-mail" value="andriystasenko22@gmail.com">
                    <div class="input-underline"><span class="input-ripple"></span></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Телефон</label>
                    <input type="text" class="form-control" placeholder="Телефон" value="0635600951">
                    <div class="input-underline"><span class="input-ripple"></span></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Роль пользователя</label>
                    <select class="form-control selectpicker" name="">
                        <option value="0">Администратор</option>
                        <option value="1">Пользователь</option>
                    </select>
                    <div class="input-underline"><span class="input-ripple"></span></div>
                </div>
                <div class="form-button-block">
                    <!--<button class="button-primary" type="submit">Подтвердить</button>-->
                    <a href="tasks.html" class="button-primary">Сохранить</a>
                </div>
            </form>
        </div>
    </div>
</div>