<!--форма авторизації-->
<div id="login-form">
    <div class="ui-common-form">
        <div class="ui-common-authorization-header">
            <div class="ui-common-company-logo">
                <img src="/img/icon/LogoR.png" alt="">
            </div>
            <div class="form-header-title">ВОЙДИТЕ В СВОЙ АККАУНТ</div>
        </div>
        <div class="ui-common-form-body">
            <form action="" class="common-form">
                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input type="text" class="form-control" placeholder="E-mail">
                    <div class="input-underline"><span class="input-ripple"></span></div>
                </div>
                <div class="form-group">
                    <label class="control-label">Пароль</label>
                    <input type="password" class="form-control" placeholder="Пароль">
                    <div class="input-underline"><span class="input-ripple"></span></div>
                </div>
                <div class="form-button-block">
                    <!--<button class="button-primary" type="submit">Войти</button>-->
                    <a href="tasks.html" class="button-primary">Войти</a>
                    <a href="registration.html" class="button-success">Регистрация</a>

                </div>
            </form>
        </div>
    </div>
</div>