@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src:
          url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  font-style: normal;
  font-weight: normal;
  src:
          url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Italic";
  font-style: normal;
  font-weight: normal;
  src:
          url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}