<div class="sidebar-menu">
    <div class="user-profile-block">
        <div class="user-profile-logo">
            <img src="/img/icon/authorization-logo.png" alt="">
        </div>
        <div class="user-profile-info">
            <div class="user-profile-name">Мой профиль</div>
            <div class="user-profile-email">wingsglass@gmail.com</div>
        </div>
        <div class="user-profile-action-block">
            <div class="user-profile-action-wrap">
                <a href="#" class="user-profile-action-button"><i class="fa fa-ellipsis-h"></i></a>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu-item-list">
        <li class="sidebar-menu-item-block">
            <div class="sidebar-menu-item-title">
                <div class="text">Проекты
                    <a href="#" class="add-button add-project"><i class="fa fa-plus-square-o"></i></a>
                </div>
                <i class="fa fa-angle-right"></i>
            </div>
            <ul class="sidebar-menu-item-list project-list">
                <li>
                    <a href="#">
                        <div class="sidebar-menu-item-info">
                            <span class="sidebar-menu-item-icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="sidebar-menu-item-text">Android Rikato</span>
                        </div>
                        <div class="sidebar-menu-item-count">1</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-menu-item-info">
                            <span class="sidebar-menu-item-icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="sidebar-menu-item-text">Qr менеджер</span>
                        </div>
                        <div class="sidebar-menu-item-count">2</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-menu-item-info">
                            <span class="sidebar-menu-item-icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="sidebar-menu-item-text">Android Rikato</span>
                        </div>
                        <div class="sidebar-menu-item-count">4</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-menu-item-info">
                            <span class="sidebar-menu-item-icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="sidebar-menu-item-text">Qr менеджер</span>
                        </div>
                        <div class="sidebar-menu-item-count">5</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-menu-item-block">
            <div class="sidebar-menu-item-title">
                <div class="text">Состояние
                    <a href="#" class="add-button add-tag"><i class="fa fa-plus-square-o"></i></a></div>
                <i class="fa fa-angle-right"></i>
            </div>
            <ul class="sidebar-menu-item-list tags-list">
                <li>
                    <a href="#">
                        <div class="sidebar-menu-item-info">
                            <span class="sidebar-menu-item-icon">
                                <i class="fa" style="background-color: #ff5252;"></i>
                            </span>
                            <span class="sidebar-menu-item-text">Открыт</span>
                        </div>
                        <div class="sidebar-menu-item-count">1</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-menu-item-info">
                            <span class="sidebar-menu-item-icon">
                                <i class="fa" style="background-color: #aeea00;"></i>
                            </span>
                            <span class="sidebar-menu-item-text">В работе</span>
                        </div>
                        <div class="sidebar-menu-item-count">2</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="sidebar-menu-item-info">
                            <span class="sidebar-menu-item-icon">
                                <i class="fa" style="background-color: #ffd54f;"></i>
                            </span>
                            <span class="sidebar-menu-item-text">Выполнен</span>
                        </div>
                        <div class="sidebar-menu-item-count">4</div>
                    </a>
                </li>
            </ul>


        </li>
        <li class="sidebar-menu-item-block">
            <div class="sidebar-menu-item-title">
                <div class="text">Сохраненные поиски</div>
                <i class="fa fa-angle-right"></i>
            </div>
        </li>
        <li class="sidebar-menu-item-block">
            <div class="sidebar-menu-item-title">
                <div class="text">Фильтры</div>
                <i class="fa fa-angle-right"></i>
            </div>
        </li>
    </ul>
</div>