<div class="create-task">
    <form action="" class="create-task-form">
        <div class="task-header-block">
            <div class="task-header-title">Создать новой порект</div>
            <div class="task-header-info">
                <div class="create-task-date"><i class="fa fa-calendar"></i>18.03.2018</div>
                <div class="create-task-time"><i class="fa fa-clock-o"></i>13:48</div>
                <div class="create-task-primary-number">№ 00001</div>
            </div>
        </div>
        <div class="task-form-content">
            <div class="form-left-column">
                <div class="task-form-wrap">
                    <div class="form-group">
                        <label class="control-label">Название проекта</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Краткое название</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="task-description">Описание</label>
                        <textarea name="" id="task-description" rows="5" class="form-control"></textarea>
                    </div>
                </div>
                <div class="task-form-button-block">
                    <a href="#" class="btn button-cancel">Закрыть</a>
                    <button class="btn button-success">Создать задачу</button>
                </div>
            </div>
        </div>

    </form>
</div>